@model SafetyTourism.Models.AfectadoPor

@{
    ViewData["Title"] = "Criar afectados por";
}



<h4>Criar afectado por</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Destino</label>
                <select asp-for="DestinoId" class="form-control" asp-items="ViewBag.DestinoId">
                    <option value="">-- Escolher Destino --</option>
                </select>
                <span asp-validation-for="DestinoId" class="text-danger" />
            </div>
            <div class="form-group">
                <label>Doença</label>
                <select asp-for="DoencaId" class="form-control" asp-items="ViewBag.DoencaId">
                    <option value="">-- Escolher Doença --</option>
                </select>
                <span asp-validation-for="DoencaId" class="text-danger" />
            </div>
            <div class="form-group">
                <label>Data</label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Nº de Infectados por 100.000 habitantes</label>
                <input asp-for="InfectadosPor100k" class="form-control" />
                <span asp-validation-for="InfectadosPor100k" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Gravidade" class="form-control" />
                <span asp-validation-for="Gravidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
